.button1 {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.button1-color {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.button1-color:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.carImg {
    height: 400px;
    width: 1400px;

}

.hhover:hover {
    color: yellowgreen;
    outline-color: #fff;

}

.Management {
    background-color: antiquewhite;
    text-align: center;
}
.founder{
     text-align: center;
    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}